<div class='card'>
  <h2><%= t('games.index.new_game') %></h2>
  <%= form_with model: Game.new, class: 'flex-direction-column game-form' do |form| %>
    <%= form.label :other_user_id %>
    <%= form.select(
      :other_user_id,
      user.other_users.map { |user| [user.name, user.id] },
      {},
      { class: 'select' }
    ) %>
    <%= form.submit(t('helpers.submit.game.create'), class: 'button') %>
  <% end %>
</div>
