<div>
  <div class='flex-direction-column' id=<%= "#{dom_id(player_1)}_score" %>>
    <div><%= player_1.name %></div>
    <div><%= player_1.points %></div>
  </div>
  <div class='flex-direction-column' id=<%= "#{dom_id(player_2)}_score" %>>
    <div><%= player_2.name %></div>
    <div><%= player_2.points %></div>
  </div>
</div>
