<div
  data-controller='tile'
  id=<%= dom_id(tile) %>
  draggable=<%= draggable %>
  class='<%= tile_classes(tile) %>'
  data-action='<%= tile_actions(draggable, tile.multipotent?) %>'>
  <div class='tile-letter'>
    <%= tile.letter %>
  </div>
  <div class='tile-points'>
    <%= tile.points %>
  </div>
  <% if tile.multipotent? %>
    <%= render partial: 'games/tile_form', locals: { tile: tile } %>
    <%= render(
      partial: 'games/hint',
      locals: { message: t('games.show.hint.multipotent_tile') }
    ) %>
  <% end %>
</div>
