<div
  data-controller='drag submit'
  data-game=<%= @game.id %>
  class='flex-direction-column'>
<%= render(
  partial: 'tile_rack',
  locals: { tile_rack: @game.player_1.tile_rack }
) %>
<%= render(
  partial: 'submit_button',
  locals: { player: @game.player_1 }
) %>
<%= render(
   partial: 'board',
   locals: { board: @game.board }
) %>
<%= render(
  partial: 'submit_button',
  locals: { player: @game.player_2 }
) %>
<%= render(
  partial: 'tile_rack',
  locals: { tile_rack: @game.player_2.tile_rack }
) %>
</div>
