<!DOCTYPE html>
<html>
  <head>
    <title>Scrbabble</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
      href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap"
      rel="stylesheet">
  </head>

  <body>
    <div class='flex-direction-column' data-controller='modal'>
      <%= render partial: 'navbar' %>
      <h1><%= t('scrbabble') %></h1>
      <%= yield %>
    </div>
  </body>
</html>
